@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');


@font-face {
        font-family: 'Amoria'; /* Defina um nome para a fonte (ex: 'MyCustomFont') */
        src: url('./fonts/AMORIA.otf') format('opentype'); /* Caminho do arquivo da fonte */
        font-weight: normal; /* Opcional: Define o peso da fonte */
        font-style: normal; /* Opcional: Define o estilo da fonte */
    }
    





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background: #FFFFD0;
    height: 5880px;
    flex-shrink: 0;
}



nav{
    
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    text-transform:uppercase;
    height: 150px;
   
}
.menu{
    

    display: inline-block;/* o elemento <a> é inline por padrão, para alinhar os elemento precisa do display inline-block.*/
    margin-top: 20px;
    margin-right:150px;
    text-decoration: none; 
    color:#a555ec;
}

header{
  
    
    display: flex;
    gap: 40px;

}


.img-header{

    margin-top: 0px;
    margin-left: 100px;
    width: 350px;
    height: 440px;
    border-radius: 100px;

}

h1{
font-family: 'Amoria', Arial, Helvetica, sans-serif;
color: #a555ec;
font-size: 60px;
font-weight: 400;
text-transform: uppercase;
width: 700px;


}
p{

color: #A555EC;
text-align: justify;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-transform: uppercase;
margin-top: 10px;

}

svg{



}